/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Face */
@font-face {
  font-family: 'OpenSauceSans';
  src: url('../fonts/OpenSauceSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSauceSans';
  src: url('../fonts/OpenSauceSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSauceSans';
  src: url('../fonts/OpenSauceSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/* Reset & Global Styles */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100%;
  font-family: 'OpenSauceSans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
  color: inherit;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

:focus-visible {
  outline: 2px solid #4f46e5; /* Tailwind indigo-600 */
  outline-offset: 2px;
}



/* Tailwind Layered Styles */
@layer base {
  body {
    @apply font-sans text-base font-normal;
  }

  h1 {
    @apply max-w-[30ch] break-words text-balance;
  }

  h3 {
    @apply leading-tight max-w-[40ch] break-words;
  }

  p {
    @apply text-base leading-normal max-w-prose break-words text-balance;
  }
}

@layer utilities {
  .text-muted {
    @apply opacity-70;
  }
}

@layer components {
  .badge {
    @apply px-3 py-1 border shadow-sm rounded-lg whitespace-nowrap;
  }
}
