---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../sections/Hero.astro";
import Testimonial from "../sections/Testimonial.astro";
import CTA from "../sections/CTA.astro";
import Works from "../sections/Works.astro";
---
<BaseLayout>
	<main class="px-4 sm:px-8 bg-background scroll-auto space-y-section-xxl md:space-y-40">
		<Hero />
		<Works />
		<Testimonial />
		<CTA />
	</main>
</BaseLayout>

