---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../sections/Hero.astro";
import Testimonial from "../sections/Testimonial.astro";
import CTA from "../sections/CTA.astro";
import Works from "../sections/Works.astro";
import Benefits from "../sections/Benefits.astro";
import FAQ from "../sections/FAQ.astro";
---
<BaseLayout>
	<main class="px-6 sm:px-8 scroll-smooth space-y-section-xl relative">
		<Hero />
		<Works />
		<Benefits />
		<Testimonial />
		<FAQ />
		<CTA />
	</main>
</BaseLayout>
