---
const { href, style, label } = Astro.props;
---
<a
  role="button"
  href={href}
  class={style}
  data-cal-link="mediocrest/15min"
  data-cal-namespace="15min" 
  data-cal-config='{"layout":"month_view"}'
>
  {label}
</a>
