---

---
<section id="benefits" class="space-y-8">
    <h2 class="mb-6 px-6">Benefits</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 items-center gap-2">
        <div class="flex flex-col space-y-4 border h-full p-6 rounded-lg">
            <i class="material-icons">bolt</i>
            <h3>Fast turnaround</h3>
            <p class="text-contrast text-sm sm:text-base">We dedicate our full attention to your project, ensuring a fast turnaround without sacrificing quality or attention to detail.</p>
        </div>
        <div class="flex flex-col space-y-4 border h-full p-6 rounded-lg">
            <i class="material-icons">palette</i>
            <h3>Custom design</h3>
            <p class="text-contrast text-sm sm:text-base">Your website should be as unique as your business. We craft visually striking, tailor-made designs that set you apart from the competition.</p>
        </div>
        <div class="flex flex-col space-y-4 border h-full p-6 rounded-lg">
            <i class="material-icons">verified</i>
            <h3>Future-Proof & Scalable</h3>
            <p class="text-contrast text-sm sm:text-base">Your website grows with you. We build flexible solutions that allow for seamless updates, new features, and the latest web trends.</p>
        </div>
        <div class="flex flex-col space-y-4 border h-full p-6 rounded-lg">
            <i class="material-icons">paid</i>
            <h3>Transparent Pricing</h3>
            <p class="text-contrast text-sm sm:text-base">No surprises—just clear,upfront pricing. Get high-quality web services at a fixed rate, making budgeting simple and stress-free.</p>
        </div>
    </div>
</section>