---
import Button from "../components/Button.astro";
---
<!-- Contact Section -->
<section
  id="contact"
  class="flex flex-col justify-center items-center text-center bg-gray-100 rounded-lg p-4"
>
  <span class="span-border mb-4 text-sm w-max"
    >Ready to elevate your online presence?</span
  >
  <h3 class="text-4xl md:text-8xl font-semibold leading-none tracking-tight mb-6 max-w-xl">
    LET'S MAKE IT HAPPEN
  </h3>
  <Button 
      style="bg-text text-white px-4 py-2 md:px-6 md:py-3 sm:px-4 sm:py-2 rounded-full hover:shadow-sm transition-transform hover:scale-105 duration-300 delay-50 animate-pulse" 
      label="Book a call" 
      data-cal-link="mediocrest/15min" 
      data-cal-namespace="15min" 
      data-cal-config='{"layout":"month_view"}'
    />
</section>
<!-- Contact Section End -->

<style>
  section {
    height: calc(100svh - 100px);
    width: 100%;
  }
</style>
