---
import Button from "../components/Button.astro";
---
<!-- Contact Section -->
<section
  id="contact"
  class="flex flex-col justify-center items-center text-center span-border rounded-lg p-16"
   data-aos="fade" data-aos-duration="1500"
>
  <span class="span-border mb-4 text-xs w-max"
    >Ready to elevate your online presence?</span
  >
  <h3 class="text-4xl md:text-7xl font-semibold mb-6 max-w-2xl">
    LET'S MAKE IT HAPPEN 
  </h3>
  <Button 
      style="bg-text text-white px-4 py-2 md:px-6 md:py-3 sm:px-4 sm:py-2 rounded-full hover:shadow-sm transition-transform hover:scale-105 duration-300 delay-50 animate-pulse" 
      label="Let's talk 🚀" 
      data-cal-link="mediocrest/15min" 
      data-cal-namespace="15min" 
      data-cal-config='{"layout":"month_view"}'
    />
</section>
<!-- Contact Section End -->