---

---

<!-- Hero Section -->
<section
  id="hero"
  class="flex flex-col items-center justify-center space-y-4 text-center my-section-lg md:my-section-xl"
  data-aos="fade"
  data-aos-duration="2000"
>
  <!-- Availability Notice -->
  <div class="flex items-center gap-2 span-border">
    <!-- Pulsing Circle -->
    <span class="w-3 h-3 bg-text rounded-full animate-pulse"></span>
    <span class="text-xs text-contrast">Available for freelance work, December 2024</span>
  </div>

  <!-- Hero Heading -->
  <h1 class="">
    Making websites for growing businesses that drives results
  </h1>

  <!-- Hero Description -->
  <p class="text-contrast max-w-[35ch] md:max-w-[45ch]">
    I'm Lance Flores, a Web developer and designer based in Manila, Philippines with over 5 years of
    experience
  </p>
</section>
<!-- Hero Section End -->
