---

---
<!-- Hero Section -->
<section
  id="hero"
  class="flex flex-col items-center justify-center space-y-4 text-center mb-section-sm md:mb-section-lg"
>
  <!-- Availability Notice -->
  <div class="flex items-center gap-2 span-border">
    <!-- Pulsing Circle -->
    <span class="w-3 h-3 bg-black rounded-full animate-pulse"></span>
    <span>Available for freelance work, November 2024</span>
  </div>

  <!-- Hero Heading -->
  <h1 class="text-2xl leading-none tracking-tight md:text-3xl lg:text-4xl xl:text-5xl">
    Helping businesses create a stronger online presence
  </h1>

  <!-- Hero Description -->
  <p class="text-sm text-contrast sm:text-base max-w-[35ch] md:max-w-[40ch]">
    I'm Lance Flores, a Web Developer and Designer based in Manila, Philippines
  </p>
</section>
<!-- Hero Section End -->
 
<style>
  /* Set minimum height and full width for hero section */
  #hero {
    min-height: calc(100svh - 100px);
    width: 100%;
  }
</style>
