<!-- Hero Section -->
<section
  id="hero"
  class="flex flex-col items-center justify-center space-y-4 text-center my-section-lg md:my-section-xl"
>
  <!-- Availability Notice -->
  <div class="flex items-center gap-2 span-border">
    <!-- Pulsing Circle -->
    <span class="w-3 h-3 bg-green-500 rounded-full animate-pulse"></span>
    <span class="text-xs text-contrast">Available for freelance work, May 2025</span>
  </div>

  <!-- Hero Heading -->
  <h1>
    Making websites for growing businesses that drives results
  </h1>

  <!-- Hero Description -->
  <p class="text-contrast text-sm sm:text-lg max-w-[35ch] md:max-w-[45ch]">
    Hi, I'm Lance Flores. A Web Developer & Designer helping businesses have a stronger online presence
  </p>
</section>
<!-- Hero Section End -->
