---
---
<!-- Services Section -->
<section id="services" class="flex flex-col my-section-lg md:my-section-xl lg:my-section-xxl">
  <!-- Header -->
  <h2 class="self-center mb-8 md:mb-12 text-xl md:text-2xl text-center leading-none max-w-[20ch]">
    Tailored solutions for your specific needs
  </h2>

  <div class="max-w-5xl mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 relative">

    <!-- Services Card 1 -->
    <div class="border shadow-sm rounded-lg bg-background p-4 sticky top-20 sm:static">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0 0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25 2.25 0 0 0-1.423 1.423Z" />
      </svg>
      
      <hgroup class="space-y-1">
          <h3 class="mt-4 md:text-lg">Web Design</h3>
          <p class="text-sm sm:text-base text-contrast">
            Create sleek, modern designs that represent your brand.
          </p>
      </hgroup>
    </div>

    <!-- Services Card 2 -->
    <div class="border shadow-sm rounded-lg bg-background p-4 sticky top-20 sm:static">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
      </svg>
      
      <hgroup class="space-y-1">
          <h3 class="mt-4 md:text-lg">Web Development</h3>
          <p class="text-sm sm:text-base text-contrast">
            Build responsive, fast, and user-friendly websites.
          </p>
      </hgroup>
    </div>

    <!-- Services Card 3 -->
    <div class="border shadow-sm rounded-lg bg-background p-4 sticky top-20 sm:static">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m15.75 15.75-2.489-2.489m0 0a3.375 3.375 0 1 0-4.773-4.773 3.375 3.375 0 0 0 4.774 4.774ZM21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
      
      <hgroup class="space-y-1">
          <h3 class="mt-4 md:text-lg">Basic SEO</h3>
          <p class="text-sm sm:text-base text-contrast">
            Optimize your website to rank higher in search results.
          </p>
      </hgroup>
    </div>

    <!-- Services Card 4 -->
    <div class="border shadow-sm rounded-lg bg-background p-4 sticky top-20 sm:static">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
      </svg>
      
      <hgroup class="space-y-1">
          <h3 class="mt-4 md:text-lg">Ongoing Support</h3>
          <p class="text-sm sm:text-base text-contrast">
            Provides ongoing support to make sure your website runs optimally.
          </p>
      </hgroup>
    </div>
  </div>
</section>
<!-- Services Section -->
